.Message {
  display: flex;
  float: left;
  background-color: #368F8B;
  margin: 10px auto;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,.2);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  clear:both;

  &.me {
    color: white;
    float: right;
    background-color: #246A73;
  }
}
.Name {
  display: flex;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
  opacity: 0.7;
}